<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="PRAGMA" content="NO-CACHE">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title id="titlePage">@ViewBag.Title</title>
    <link rel="icon" href="~/Content/new/img/loading.png" type="image/x-icon" />

    <link href="~/Content/css/gridstack.min.css" rel="stylesheet" />
    <link href="~/Content/css/gridstack-extra.min.css" rel="stylesheet" />
    <link href="~/Content/new/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/new/css/materialize.min.css" rel="stylesheet" />
    <link href="~/Content/new/js/jquery ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/new/css/style.css" rel="stylesheet" />
    <link href="~/Content/new/css/all-themes.css" rel="stylesheet" />
    <link href="~/Content/new/js/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet" />
    <link href="~/Content/new/css/site.css?dt=@(WebKarbord.Controllers.Unit.UnitPublic.titleVerNumber)" rel="stylesheet" />
    <link href="~/Content/new/css/stimulsoft.viewer.office2013.whiteblue.css" rel="stylesheet" />
    <link href="~/Content/new/css/stimulsoft.designer.office2013.whiteblue.css" rel="stylesheet" />
    <link href="~/Content/new/css/dx.light.css" rel="stylesheet" />
    <link href="~/Content/new/css/mapp.min.css" rel="stylesheet" />
    <link href="~/Content/new/css/MapStyle.css" rel="stylesheet" />
    <!-- <link href="~/Content/new/css/jquery.gridster.min.css" rel="stylesheet" />-->
    <!--<link rel="manifest" href="/manifest.json">-->
    <!-- Najva Push Notification -->
    <!--   <script type="text/javascript">
           (function () {
               var now = new Date();
               var version = now.getFullYear().toString() + "0" + now.getMonth() + "0" + now.getDate();
                   //"0" + now.getHours();
               var head = document.getElementsByTagName("head")[0];
               var link = document.createElement("link");
               link.rel = "stylesheet";
               link.href = "https://app.najva.com/static/css/local-messaging.css" + "?v=" + version;
               head.appendChild(link);
               var script = document.createElement("script");
               script.type = "text/javascript";
               script.async = true;
               script.src = "https://app.najva.com/static/js/scripts/174-website-27295-a0b970d7-1466-49f3-bf2b-1cfa6674e8e9.js" + "?v=" + version;
               head.appendChild(script);
           })()
       </script>-->
    <!-- END NAJVA PUSH NOTIFICATION -->

</head>
<!--<body class="light rtlSite" ondragstart="return false;" ondrop="return false;" onpaste="return false"> -->
<body class="light rtlSite" ondragstart="return false;" ondrop="return false;">

    <!-- onLoad="noBack();" onpageshow="if (event.persisted) noBack();" onUnload=""-->

    <div id="loadingsite" class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-30">
                <img class="loading-img-spin" src="~/Content/loading1.png" width="20" height="20" alt="admin">
            </div>
            <p data-bind="text:translate('لطفا منتظر بمانید')"></p>
        </div>
    </div>

    <!-- <div class="modal fade" id="modal-Wait" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true" dir="ltr">
         <div class="modal-dialog">
             <div class="modal-content">
                 <div class="modal-header">
                 </div>
                 <div class="modal-body">
                     <div style="height:500px;overflow:auto;border: 1px #ddd solid;">
                     </div>
                 </div>
             </div>
             <div class="row">
                 <div class="row">
                 </div>
             </div>
         </div>
     </div> -->
    <!-- <div class="page-loader-wrapper">
         <div class="loader">
             <i class="fa fa-spinner fa-spin" style="font-size:60px; position:absolute"></i>
             <p>لطفا منتظر بمانید...</p>
         </div>
     </div>-->



    <div class="overlay"></div>
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
                   aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand">

                    <!--<img src="~/Content/img/LLL.png" width="30" />
                    <span class="logo-name">کاربرد کامپیوتر</span>-->
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">



                <ul class="pull-right" id="navbar_Buttom" style="padding-right: 0px;">
                    <li>
                        <a href="javascript:void(0);" class="sidemenu-collapse">
                            <i class="material-icons">reorder</i>
                        </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right" id="navbar_Menu">

                    <li class="dropdown user_profile pull-left">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" style="margin-left: 50px;">
                            <img src="~/Content/img/list/profile.png" width="32" height="32" alt="User" style="border: #ec8121 2px solid;" />
                            <span id="userNameFa"></span>
                            <img src="~/Content/img/streamline-icon-arrow-button-down-2@48x48.png" width="10" height="10" />
                        </a>
                        <ul class="dropdown-menu pullDown" style="margin-left: 10px; width:250px">
                            <li class="body">
                                <ul class="user_dw_menu" style="padding-right:0px">
                                    <li style="width: 100%;">
                                        <div class="row" style="padding:15px; padding-top:25px">
                                            <div class="col-sm-12">
                                                <div class="form-group form-float">
                                                    <div class="form-line date fix">
                                                        <input type="text" id="coName_TitleMenu" class="form-control float" readonly>
                                                        <label class="form-label" data-bind="text:translate('شرکت')"></label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-12">
                                                <div class="form-group form-float">
                                                    <div class="form-line date fix">
                                                        <input type="text" id="ace_TitleMenu" class="form-control float" readonly>
                                                        <label class="form-label" data-bind="text:translate('نرم افزار')"></label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-12">
                                                <div class="form-group form-float">
                                                    <div class="form-line date fix">
                                                        <input type="text" id="group_TitleMenu" class="form-control float" readonly>
                                                        <label class="form-label" data-bind="text:translate('گروه')"></label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-12">
                                                <div class="form-group form-float">
                                                    <div class="form-line date fix">
                                                        <input type="text" id="sal_TitleMenu" class="form-control float" readonly>
                                                        <label class="form-label" data-bind="text:translate('سال')"></label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-12">
                                                <button data-bind="text:translate('خروج')" type="button" id="LogOut" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;"></button>
                                            </div>

                                        </div>
                                    </li>
                                </ul>
                                <!--
                                 <ul class="user_dw_menu">
                                          <li>
                                              <a href="javascript:void(0);">
                                                  <i class="material-icons">person</i>پروفایل
                                              </a>
                                          </li>
                                          <li>
                                              <a href="javascript:void(0);">
                                                  <i class="material-icons">feedback</i>بازخورد
                                              </a>
                                          </li>
                                          <li>
                                              <a href="javascript:void(0);">
                                                  <i class="material-icons">help</i>راهنما
                                              </a>
                                          </li>
                                          <li>
                                              <a id="LogOut">
                                                  <i class="material-icons">power_settings_new</i>خروج
                                              </a>
                                          </li>
                                </ul>-->
                            </li>
                        </ul>

                    </li>

                    <li style="color: #e77e22;font-size: 35px;margin-top: 5px;margin-right: 8px;" class="pull-left">|</li>
                    <li class="pull-left" id="P_Setting">
                        <a href="/Home/Setting" class="dropdown-toggle" data-close="true">
                            <img src="~/Content/img/streamline-icon-cog-1@48x48.png" width="16" height="16" title="تنظیمات" />
                        </a>
                    </li>



                    <li class="pull-left" id="P_Home">
                        <a href="/Home/Index" class="dropdown-toggle" data-close="true" title="خانه">
                            <img src="~/Content/img/streamline-icon-house-2@48x48.png" width="16" height="16" />
                        </a>
                    </li>

                    <li class="dropdown pull-left">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" id="Btn_ShowMessage" title="پیام ها">
                            <!--<span class="label-count bg-orange"></span>-->
                            <img src="~/Content/img/streamline-icon-alarm-bell-1@48x48.png" width="16" height="16" />
                        </a>
                        <ul class="dropdown-menu pullDown">
                            <li class="header">پیام ها</li>
                            <li class="body" style="width: inherit;">
                                <ul class="menu">
                                    <li data-bind="foreach: MessageList">
                                        <a data-bind="text: title , click: selectMessage" style="text-align:right;padding: 0px 10px 0px 10px;"></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <!--
                    <li class="dropdown pull-left" id="P_Box">
                        <a href="/Home/Box" title="اعلامیه">
                            <img id="" src="~/Content/img/email.png" width="23" height="25" style="margin-top: 1px;" />
                        </a>
                    </li>-->

                    <li class="dropdown pull-left notification" id="P_NotificationErja">
                        <a href="/ERJ/Erja" title="ارجاعات پرونده دریافتی">
                            <img id="" src="~/Content/img/notificationErja.png" width="23" height="25" style="margin-top: 1px;" />
                            <span class="badge" id="notificationCount"></span>
                        </a>
                    </li>

                    <li class="dropdown pull-left" id="P_AccessRefresh" title="بازخوانی دسترسی ها">
                        <a id="AccessRefresh">
                            <img src="~/Content/img/account-convert.png" width="20" height="20" style="margin-top: 3px;" />
                        </a>
                    </li>

                    <!--<li class="dropdown pull-left" id="P_Tiket" title="تیکت پشتیبانی">
                        <a id="btn_Tiket">
                            <img src="~/Content/img/ticket-account.png" width="24" height="24" style="margin-top: 0px;" />
                        </a>
                    </li>-->
                    <li class="dropdown pull-left" id="P_ContactUs" title="تماس با ما">
                        <a id="btn_App" href="https://karbordcomputer.com/contact-us/" target="_blank">
                            <img src="~/Content/img/ContactUs.png" width="18" height="18" style="margin-top: 5px;margin-bottom: 0px;" />
                        </a>
                    </li>

                    <li class="dropdown pull-left" id="P_App" title="دریافت نسخه اندروید">
                        <a id="btn_App" href="https://cafebazaar.ir/app/com.karbord.karbordapp" target="_blank">
                            <img src="~/Content/img/android.png" width="20" height="20" style="margin-top: 5px;" />
                        </a>
                    </li>

                    <li class="dropdown pull-left" id="P_App" title="راهنمای کلید های میانبر">
                        <a id="HotKeyHelp" class="dropdown-toggle" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#modal-HotKeyHelp">
                            <img src="~/Content/img/keyboard.png" width="32" style="margin-top: 10px;" />
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>



    <aside id="leftsidebar" class="sidebar">
        <div class="menu">
            <ul class="list">
                <li class="sidebar-user-panel active">
                    <div class="center">
                        <img id="logoMenu" src="~/Content/img/logo meno2.png" style="width: 100px;" />

                        <img src="~/Content/img/new item/line.png" style="padding :5px 0px; max-width:100%" />
                    </div>
                    <div class="profile-usertitle">
                        <!--<div class="sidebar-userpic-name" id="TextUserName"></div>
                        <div class="profile-usertitle-job " id="TextNoUser"></div>-->
                        <div class="profile-usertitle-job ">
                            <span id="titleVer" data-bind="text:translate('@(WebKarbord.Controllers.Unit.UnitPublic.titleVer)') + ' : '"></span>
                            <span id="titleVerNumber" style="padding-right:5px">@(WebKarbord.Controllers.Unit.UnitPublic.titleVerNumber)</span>
                            <br />
                            <!--<span id="titleVer">ورژن سرویس : 521</span>-->
                            <span id="titleVer" data-bind="text:translate('ورژن سرویس')"></span><span data-bind="text:' : ' +    '1039'"> </span>
                            <span id="titleVerNumber" style="padding-right:5px"></span>
                            <br />
                            <!--<span data-bind="text:translate('ورژن دی ال ال') + ' : '"></span>
                            <span id="VerDllCheck" style="padding-right:5px"></span>-->

                        </div>
                        <!-- <div class="profile-usertitle-job ">ورژن :1007</div> -->

                    </div>
                </li>

                <li id="Dashbord">
                    <a href=@Url.Action("Dashbord","Home")>
                        <i>
                            <img src="~/Content/img/dashboard-report-icon.png" width="20" />
                        </i>
                        <span data-bind="text:translate('داشبورد')"></span>
                    </a>
                </li>


                <li id="Base_Menu" class="active">
                    <a href="javascript:void(0);" class="menu-toggle">
                        <i>
                            <img src="~/Content/img/SanadAnbarWhite.png" width="20" />
                        </i>
                        <span data-bind="text:translate('اطلاعات پایه')"></span>
                    </a>
                    <ul class="ml-menu">
                        <li id="BaseKala" class="rightClick">
                            <!--@Html.ActionLink("کالا", "Kala", "AFIBase")-->
                            <a data-bind="text:translate('کالاها')" class="useBlank" target="_blank" href=@Url.Action("Kala","AFIBase")></a>
                            <!--<a id="form_BaseKala" class="useBlank" addr=@Url.Action("Kala","AFIBase")> کالاها</a>-->
                        </li>
                        <li id="BaseCust" class="rightClick">
                            <a data-bind="text:translate('خریداران/فروشندگان')" class="useBlank" target="_blank" href=@Url.Action("Cust","AFIBase")></a>
                        </li>

                        <li id="BaseAcc" class="rightClick">
                            <a data-bind="text:translate('حساب ها')" class="useBlank" target="_blank" href=@Url.Action("Acc","AFIBase")> </a>
                        </li>

                        <li id="BaseMkz" class="rightClick">
                            <a data-bind="text:translate('مرکز هزینه')" class="useBlank" target="_blank" href=@Url.Action("Mkz","AFIBase")> </a>
                        </li>

                        <li id="BaseOpr" class="rightClick">
                            <a data-bind="text:translate('پروژه')" class="useBlank" target="_blank" href=@Url.Action("Opr","AFIBase")> </a>
                        </li>

                        <li id="BaseArz" class="rightClick">
                            <a data-bind="text:translate('ارز')" class="useBlank" target="_blank" href=@Url.Action("Arz","AFIBase")> </a>
                        </li>

                        <li id="BaseZAcc" class="rightClick">
                            <a data-bind="text:translate('زیر حساب ها')" class="useBlank" target="_blank" href=@Url.Action("ZAcc","AFIBase")> </a>
                        </li>

                    </ul>
                </li>

                <li id="ADOC_Menu" class="active">
                    <a href="javascript:void(0);" class="menu-toggle">
                        <i>
                            <img src="~/Content/img/SanadAnbarWhite.png" width="20" />
                        </i>
                        <span data-bind="text:translate('اسناد حسابداری')"></span>
                    </a>
                    <ul class="ml-menu">
                        <li id="ADOC" class="rightClick">
                            <a data-bind="text:translate('سند حسابداری')" class="useBlank" target="_blank" href=@Url.Action("Index","AFISanad")></a>
                        </li>
                    </ul>
                </li>

                <li id="FDOC_Menu" class="active">
                    <a href="javascript:void(0);" class="menu-toggle">
                        <i>
                            <img src="~/Content/img/SanadAnbarWhite.png" width="20" />
                            <!--<img src="~/Content/img/docsels.png" width="24" /> -->
                        </i>
                        <span data-bind="text:translate('اسناد خرید و فروش')"></span>
                    </a>

                    <ul class="ml-menu">
                        <li id="FDOC_SO" class="rightClick">
                            <a data-bind="text:translate('سفارش فروش')" class="useBlank" target="_blank" href=@Url.Action("Index","AFIFactor")> </a>
                        </li>
                        <li id="FDOC_SP" class="rightClick">
                            <a data-bind="text:translate('پیش فاکتور فروش')" class="useBlank" target="_blank" href=@Url.Action("Index","AFIFactor")></a>
                        </li>

                        <li id="FDOC_S" class="rightClick">
                            <a data-bind="text:translate('فاکتور فروش')" class="useBlank" target="_blank" href=@Url.Action("Index","AFIFactor")></a>
                        </li>
                        <li id="FDOC_SR" class="rightClick">
                            <a data-bind="text:translate('برگشت از فروش')" class="useBlank" target="_blank" href=@Url.Action("Index","AFIFactor")></a>
                        </li>
                        <li id="FDOC_SH" class="rightClick">
                            <a data-bind="text:translate('حواله فروش')" class="useBlank" target="_blank" href=@Url.Action("Index","AFIFactor")></a>
                        </li>
                        <li id="FDOC_SE" class="rightClick">
                            <a data-bind="text:translate('برگه خروج')" class="useBlank" target="_blank" href=@Url.Action("Index","AFIFactor")></a>
                        </li>
                        <li id="FDOC_PO" class="rightClick">
                            <a data-bind="text:translate('سفارش خرید')" class="useBlank" target="_blank" href=@Url.Action("Index","AFIFactor")></a>
                        </li>
                        <li id="FDOC_PP" class="rightClick">
                            <a data-bind="text:translate('پیش فاکتور خرید')" class="useBlank" target="_blank" href=@Url.Action("Index","AFIFactor")></a>
                        </li>
                        <li id="FDOC_P" class="rightClick">
                            <a data-bind="text:translate('فاکتور خرید')" class="useBlank" target="_blank" href=@Url.Action("Index","AFIFactor")></a>
                        </li>
                        <li id="FDOC_PR" class="rightClick">
                            <a data-bind="text:translate('برگشت از خرید')" class="useBlank" target="_blank" href=@Url.Action("Index","AFIFactor")></a>
                        </li>

                        <!--<li id="FDOC_SO">@Html.ActionLink("سفارش فروش", "Index", "AFIFactor")</li>
                        <li id="FDOC_SP">@Html.ActionLink("پیش فاکتور فروش", "Index", "AFIFactor")</li>
                        <li id="FDOC_S"> @Html.ActionLink("فاکتور فروش", "Index", "AFIFactor")</li>
                        <li id="FDOC_SR">@Html.ActionLink("برگشت از فروش", "Index", "AFIFactor")</li>
                        <li id="FDOC_SH">@Html.ActionLink("حواله فروش", "Index", "AFIFactor")</li>
                        <li id="FDOC_SE">@Html.ActionLink("برگه خروج", "Index", "AFIFactor")</li>
                        <li id="FDOC_PO">@Html.ActionLink("سفارش خرید", "Index", "AFIFactor")</li>
                        <li id="FDOC_PP">@Html.ActionLink("پیش فاکتور خرید", "Index", "AFIFactor")</li>
                        <li id="FDOC_P"> @Html.ActionLink("فاکتور خرید", "Index", "AFIFactor")</li>
                        <li id="FDOC_PR">@Html.ActionLink("برگشت از خرید", "Index", "AFIFactor")</li>-->
                    </ul>
                </li>


                <li id="IDOC_Menu" class="active">
                    <a href="javascript:void(0);" class="menu-toggle">
                        <i>

                            <!-- <img src="~/Content/img/SanadAnbar.png" width="24" />-->
                            <img src="~/Content/img/SanadAnbarWhite.png" width="20" />
                        </i>
                        <span data-bind="text:translate('اسناد انبار')"></span>
                    </a>
                    <ul class="ml-menu">
                        <li id="IDOC_I" class="rightClick">
                            <a data-bind="text:translate('اسناد وارده به انبار')" class="useBlank" target="_blank" href=@Url.Action("Index","AFISanadAnbar")></a>
                        </li>
                        <li id="IDOC_O" class="rightClick">
                            <a data-bind="text:translate('اسناد صادره از انبار')" class="useBlank" target="_blank" href=@Url.Action("Index","AFISanadAnbar")></a>
                        </li>

                        <!--<li id="IDOC_I">@Html.ActionLink("اسناد وارده به انبار", "Index", "AFISanadAnbar")</li>
                        <li id="IDOC_O">@Html.ActionLink("اسناد صادره از انبار", "Index", "AFISanadAnbar")</li>-->
                    </ul>
                </li>

                <!-- <li id="Setting_Menu">
                    <a href="javascript:void(0);" class="menu-toggle">
                        <i class="fa fa-tachometer"></i>
                        <span>تنظیمات</span>
                    </a>
                    <ul class="ml-menu">
                        <li>@Html.ActionLink("ورود", "Login", "Home")</li>
                        <li>@Html.ActionLink("تنظیمات دیتابیس سرور", "AddSqlServer", "Home")</li>
                    </ul>
                </li>-->


                <li id="ErjaDOC_Menu" class="active">
                    <a href="javascript:void(0);" class="menu-toggle">
                        <i>
                            <img src="~/Content/img/SanadAnbarWhite.png" width="20" />
                        </i>
                        <span data-bind="text:translate('اسناد اتوماسیون')"></span>
                    </a>
                    <ul class="ml-menu">

                        <li id="ErjaDOC" class="rightClick">
                            <a data-bind="text:translate('پرونده')" class="useBlank" target="_blank" href=@Url.Action("Index","ERJ")></a>
                        </li>
                        <li id="Erja_Resive" class="rightClick">
                            <a data-bind="text:translate('ارجاعات پرونده دریافتی')" class="useBlank" target="_blank" href=@Url.Action("Erja","ERJ")></a>
                        </li>
                        <li id="Erja_Send" class="rightClick">
                            <a data-bind="text:translate('ارجاعات پرونده ارسالی')" class="useBlank" target="_blank" href=@Url.Action("Erja","ERJ")></a>
                        </li>
                        <!--
                        <li id="ErjaDOC">@Html.ActionLink("پرونده", "Index", "ERJ")</li>
                        <li id="Erja_Resive">@Html.ActionLink("ارجاعات پرونده دریافتی", "Erja", "ERJ")</li>
                        <li id="Erja_Send">@Html.ActionLink("ارجاعات پرونده ارسالی", "Erja", "ERJ")</li>
                            -->
                    </ul>
                </li>


                <li id="AReport_Menu" class="active">
                    <a href="javascript:void(0);" class="menu-toggle">
                        <i class="fa fa-tachometer"></i>
                        <span data-bind="text:translate('گزارشات حسابداری')"></span>
                    </a>
                    <ul class="ml-menu">
                        <li id="TrzAcc" class="rightClick">
                            <a data-bind="text:translate('تراز حساب')" class="useBlank" target="_blank" href=@Url.Action("TrzAcc","ReportAFI")></a>
                        </li>
                        <li id="Dftr" class="rightClick">
                            <a data-bind="text:translate('دفتر حساب')" class="useBlank" target="_blank" href=@Url.Action("Dftr","ReportAFI")></a>
                        </li>
                        <li id="ADocR" class="rightClick">
                            <a data-bind="text:translate('دفتر روزنامه')" class="useBlank" target="_blank" href=@Url.Action("ADocR","ReportAFI")></a>
                        </li>
                        <li id="TChk" class="rightClick">
                            <a data-bind="text:translate('صورت خلاصه چک ها')" class="useBlank" target="_blank" href=@Url.Action("TChk","ReportAFI")></a>
                        </li>

                        <li id="AGMkz" class="rightClick">
                            <a data-bind="text:translate('گردش مراکز هزینه')" class="useBlank" target="_blank" href=@Url.Action("AGMkz","ReportAFI")></a>
                        </li>

                        <li id="AGOpr" class="rightClick">
                            <a data-bind="text:translate('گردش پروژه ها')" class="useBlank" target="_blank" href=@Url.Action("AGOpr","ReportAFI")></a>
                        </li>

                         <li id="GrdZAcc" class="rightClick">
                            <a data-bind="text:translate('گردش زیرحساب ها')" class="useBlank" target="_blank" href=@Url.Action("GrdZAcc","ReportAFI")></a>
                        </li>


                        <!-- <li id="TrzAcc">@Html.ActionLink("تراز حساب", "TrzAcc", "ReportAFI")</li>
                        <li id="Dftr">@Html.ActionLink("دفتر حساب", "Dftr", "ReportAFI")</li>
                        <li id="ADocR">@Html.ActionLink("دفتر روزنامه", "ADocR", "ReportAFI")</li>
                        <li id="TChk">@Html.ActionLink("صورت خلاصه چک ها", "TChk", "ReportAFI")</li>-->
                    </ul>
                </li>

                <li id="FReport_Menu" class="active">
                    <a href="javascript:void(0);" class="menu-toggle">
                        <i class="fa fa-tachometer"></i>
                        <span data-bind="text:translate('گزارشات خرید و فروش')"></span>
                    </a>
                    <ul class="ml-menu">
                        <li id="TrzFKala_S" class="rightClick">
                            <a data-bind="text:translate('تراز فروش کالاها')" class="useBlank" target="_blank" href=@Url.Action("TrzFKala_S","ReportAFI")></a>
                        </li>
                        <li id="TrzFKala_P" class="rightClick">
                            <a data-bind="text:translate('تراز خرید کالاها')" class="useBlank" target="_blank" href=@Url.Action("TrzFKala_P","ReportAFI")></a>
                        </li>
                        <li id="TrzFCust_S" class="rightClick">
                            <a data-bind="text:translate('تراز فروش به خریداران')" class="useBlank" target="_blank" href=@Url.Action("TrzFCust_S","ReportAFI")></a>
                        </li>
                        <li id="TrzFCust_P" class="rightClick">
                            <a data-bind="text:translate('تراز خرید از فروشندگان')" class="useBlank" target="_blank" href=@Url.Action("TrzFCust_P","ReportAFI")></a>
                        </li>
                        <li id="FDocR_S" class="rightClick">
                            <a data-bind="text:translate('ریز گردش اسناد فروش')" class="useBlank" target="_blank" href=@Url.Action("FDocR_S","ReportAFI")></a>
                        </li>
                        <li id="FDocR_P" class="rightClick">
                            <a data-bind="text:translate('ریز گردش اسناد خرید')" class="useBlank" target="_blank" href=@Url.Action("FDocR_P","ReportAFI")></a>
                        </li>
                        <!--<li id="FDocR_S">@Html.ActionLink("ریز گردش اسناد فروش", "FDocR_S", "ReportAFI")</li>
                        <li id="FDocR_P">@Html.ActionLink("ریز گردش اسناد خرید", "FDocR_P", "ReportAFI")</li>
                        <li id="TrzFKala_S">@Html.ActionLink("تراز فروش کالاها", "TrzFKala_S", "ReportAFI")</li>
                        <li id="TrzFKala_P">@Html.ActionLink("تراز خرید کالاها", "TrzFKala_P", "ReportAFI")</li>
                        <li id="TrzFCust_S">@Html.ActionLink("تراز فروش به خریداران", "TrzFCust_S", "ReportAFI")</li>
                        <li id="TrzFCust_P">@Html.ActionLink("تراز خرید از فروشندگان", "TrzFCust_P", "ReportAFI")</li>-->
                    </ul>
                </li>

                <li id="IReport_Menu" class="active">
                    <a href="javascript:void(0);" class="menu-toggle">
                        <i class="fa fa-tachometer"></i>
                        <span data-bind="text:translate('گزارشات انبار')"></span>
                    </a>
                    <ul class="ml-menu">
                        <li id="Krdx" class="rightClick">
                            <a data-bind="text:translate('کاردکس کالا')" class="useBlank" target="_blank" href=@Url.Action("Krdx","ReportAFI")></a>
                        </li>
                        <li id="TrzIKala" class="rightClick">
                            <a data-bind="text:translate('موجودی کالا')" class="useBlank" target="_blank" href=@Url.Action("TrzIKala","ReportAFI")></a>
                        </li>
                        <li id="TrzIKalaExf" class="rightClick">
                            <a data-bind="text:translate('موجودی کالا به تفکیک ویژگی')" class="useBlank" target="_blank" href=@Url.Action("TrzIKalaExf","ReportAFI")></a>
                        </li>
                        <li id="IDocR" class="rightClick">
                            <a data-bind="text:translate('ریز گردش اسناد انبارداری')" class="useBlank" target="_blank" href=@Url.Action("IDocR","ReportAFI")></a>
                        </li>

                        <!--<li id="Krdx">@Html.ActionLink("کاردکس کالا", "Krdx", "ReportAFI")</li>
                        <li id="TrzIKala">@Html.ActionLink("موجودی کالا", "TrzIKala", "ReportAFI")</li>
                        <li id="TrzIKalaExf">@Html.ActionLink("موجودی کالا به تفکیک ویژگی", "TrzIKalaExf", "ReportAFI")</li>
                        <li id="IDocR">@Html.ActionLink("ریز گردش اسناد انبارداری", "IDocR", "ReportAFI")</li>-->
                    </ul>
                </li>

                <li id="EReport_Menu" class="active">
                    <a href="javascript:void(0);" class="menu-toggle">
                        <i class="fa fa-tachometer"></i>
                        <span data-bind="text:translate('گزارشات اتوماسیون اداری')"></span>
                    </a>
                    <ul class="ml-menu">
                        <li id="ErjDocK" class="rightClick">
                            <a data-bind="text:translate('فهرست پرونده ها')" class="useBlank" target="_blank" href=@Url.Action("ErjDocK","ReportERJ")></a>
                        </li>
                        <li id="ErjDocB_Last" class="rightClick">
                            <a data-bind="text:translate('لیست ارجاعات پرونده ها')" class="useBlank" target="_blank" href=@Url.Action("ErjDocB_Last","ReportERJ")></a>
                        </li>

                        <!--<li id="ErjDocK">@Html.ActionLink("فهرست پرونده ها", "ErjDocK", "ReportERJ")</li>
                        <li id="ErjDocB_Last">@Html.ActionLink("لیست ارجاعات پرونده ها", "ErjDocB_Last", "ReportERJ")</li>-->
                    </ul>
                </li>
            </ul>
        </div>
    </aside>
    <!-- <aside id="rightsidebar" class="right-sidebar">
             <ul class="nav nav-tabs tab-nav-right" role="tablist">
                 <li role="presentation">
                     <a href="#skins" data-toggle="tab" class="active">پوسته ها</a>
                 </li>
                 <li role="presentation">
                     <a href="#settings" data-toggle="tab">تنظیمات</a>
                 </li>
             </ul>
             <div class="tab-content">
                 <div role="tabpanel" class="tab-pane in active in active stretchLeft" id="skins">
                     <div class="demo-skin">
                         <div class="rightSetting">
                             <p>تنظیمات عمومی</p>
                             <ul class="setting-list list-unstyled m-t-20">
                                 <li>
                                     <div class="form-check">
                                         <div class="form-check m-l-10">
                                             <label class="form-check-label">
                                                 <input class="form-check-input" type="checkbox" value="" checked> ذخیره تاریخچه
                                                 <span class="form-check-sign">
                                                     <span class="check"></span>
                                                 </span>
                                             </label>
                                         </div>
                                     </div>
                                 </li>
                                 <li>
                                     <div class="form-check">
                                         <div class="form-check m-l-10">
                                             <label class="form-check-label">
                                                 <input class="form-check-input" type="checkbox" value="" checked> نمایش وضعیت
                                                 <span class="form-check-sign">
                                                     <span class="check"></span>
                                                 </span>
                                             </label>
                                         </div>
                                     </div>
                                 </li>
                                 <li>
                                     <div class="form-check">
                                         <div class="form-check m-l-10">
                                             <label class="form-check-label">
                                                 <input class="form-check-input" type="checkbox" value="" checked> تایید خودکار
                                                 <span class="form-check-sign">
                                                     <span class="check"></span>
                                                 </span>
                                             </label>
                                         </div>
                                     </div>
                                 </li>
                                 <li>
                                     <div class="form-check">
                                         <div class="form-check m-l-10">
                                             <label class="form-check-label">
                                                 <input class="form-check-input" type="checkbox" value="" checked> نمایش وضعیت به همه
                                                 <span class="form-check-sign">
                                                     <span class="check"></span>
                                                 </span>
                                             </label>
                                         </div>
                                     </div>
                                 </li>
                             </ul>
                         </div>
                         <div class="rightSetting">
                             <p>رنگ منو نوار کناری</p>
                             <button type="button" class="btn btn-sidebar-light btn-border-radius p-l-20 p-r-20">روشن</button>
                             <button type="button" class="btn btn-sidebar-dark btn-default btn-border-radius p-l-20 p-r-20">تاریک</button>
                         </div>
                         <div class="rightSetting">
                             <p>رنگ های قالب</p>
                             <button type="button" class="btn btn-theme-light btn-border-radius p-l-20 p-r-20">روشن</button>
                             <button type="button" class="btn btn-theme-dark btn-default btn-border-radius p-l-20 p-r-20">تاریک</button>
                         </div>
                         <div class="rightSetting">
                             <p>پوسته ها</p>
                             <ul class="demo-choose-skin choose-theme list-unstyled">
                                 <li data-theme="black" class="actived">
                                     <div class="black-theme"></div>
                                 </li>
                                 <li data-theme="white">
                                     <div class="white-theme white-theme-border"></div>
                                 </li>
                                 <li data-theme="purple">
                                     <div class="purple-theme"></div>
                                 </li>
                                 <li data-theme="blue">
                                     <div class="blue-theme"></div>
                                 </li>
                                 <li data-theme="cyan">
                                     <div class="cyan-theme"></div>
                                 </li>
                                 <li data-theme="green">
                                     <div class="green-theme"></div>
                                 </li>
                                 <li data-theme="orange">
                                     <div class="orange-theme"></div>
                                 </li>
                             </ul>
                         </div>
                         <div class="rightSetting">
                             <p>فضای دیسک</p>
                             <div class="sidebar-progress">
                                 <div class="progress m-t-20">
                                     <div class="progress-bar l-bg-cyan shadow-style width-per-45" role="progressbar"
                                          aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                                 </div>
                                 <span class="progress-description">
                                     <small>26٪ باقی مانده</small>
                                 </span>
                             </div>
                         </div>
                         <div class="rightSetting">
                             <p>بارگذاری سرور</p>
                             <div class="sidebar-progress">
                                 <div class="progress m-t-20">
                                     <div class="progress-bar l-bg-orange shadow-style width-per-63" role="progressbar"
                                          aria-valuenow="63" aria-valuemin="0" aria-valuemax="100"></div>
                                 </div>
                                 <span class="progress-description">
                                     <small>بسیار بارگذاری شده</small>
                                 </span>
                             </div>
                         </div>
                     </div>
                 </div>
                 <div role="tabpanel" class="tab-pane stretchRight" id="settings">
                     <div class="demo-settings">
                         <p>تنظیمات عمومی</p>
                         <ul class="setting-list">
                             <li>
                                 <span>گزارش استفاده از پانل</span>
                                 <div class="switch">
                                     <label>
                                         <input type="checkbox" checked>
                                         <span class="lever switch-col-green"></span>
                                     </label>
                                 </div>
                             </li>
                             <li>
                                 <span>تغییر مسیر ایمیل</span>
                                 <div class="switch">
                                     <label>
                                         <input type="checkbox">
                                         <span class="lever switch-col-blue"></span>
                                     </label>
                                 </div>
                             </li>
                         </ul>
                         <p>تنظیمات سیستم</p>
                         <ul class="setting-list">
                             <li>
                                 <span>اطلاعیه ها</span>
                                 <div class="switch">
                                     <label>
                                         <input type="checkbox" checked>
                                         <span class="lever switch-col-purple"></span>
                                     </label>
                                 </div>
                             </li>
                             <li>
                                 <span>به روز رسانی خودکار</span>
                                 <div class="switch">
                                     <label>
                                         <input type="checkbox" checked>
                                         <span class="lever switch-col-cyan"></span>
                                     </label>
                                 </div>
                             </li>
                         </ul>
                         <p>تنظیمات حساب</p>
                         <ul class="setting-list">
                             <li>
                                 <span>آفلاین</span>
                                 <div class="switch">
                                     <label>
                                         <input type="checkbox" checked>
                                         <span class="lever switch-col-red"></span>
                                     </label>
                                 </div>
                             </li>
                             <li>
                                 <span>مجوز محل سکونت</span>
                                 <div class="switch">
                                     <label>
                                         <input type="checkbox">
                                         <span class="lever switch-col-lime"></span>
                                     </label>
                                 </div>
                             </li>
                         </ul>
                     </div>
                 </div>
             </div>
         </aside>-->


    <section id="content" class="content">
        <div class="container-fluid">
            @RenderBody()



            <!--<div id="p_Statement" class="form-inline" style="top: 100px;left: 100px;position: absolute;z-index: 100000;display:none">
                <a id="saveStatement"><span class="material-icons" style="font-size:20px">save</span></a>
                <a id="refreshStatement"><span class="material-icons" style="font-size:20px">refresh</span></a>
            </div>-->

        </div>

    </section>


    <div class="modal fade" id="modal-PrintForms" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button data-bind="attr: {title:text_Close}" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" data-bind="text:translate('فرم های چاپ')"></h4>
                    <div>
                        <a id="refreshPrintForms">
                            <img data-bind="attr: {title:text_Refresh}" src="~/Content/img/list/streamline-icon-synchronize-arrows-1@48x48.png" width="20" height="20" style="margin-left: 10px;" />
                        </a>
                        <input id="upload" type="file" style="display:none" data-bind="event: {change: $root.fileUpload}" />
                        <a id="AddNewPrintForms" data-bind="attr: {title:text_Add}">
                            <img src="/Content/img/list/streamline-icon-add-circle-alternate@48x48.png" width="20" height="20">
                        </a>
                    </div>
                </div>
                <div class="modal-body">
                    <br />
                    <div style="height:400px;overflow:auto;border: 1px #ddd solid;">
                        <table class="table table-hover table-striped tableFix">
                            <thead style="cursor: pointer;">
                                <tr data-bind="click: sortTablePrintForms">
                                    <th style="width: 10px;" data-bind="text:translate('وضعیت')"></th>
                                    <th style="width: 10px;" data-bind="text:translate('بدون قیمت')"></th>
                                    <th data-column="namefa" style="text-align: center;" data-bind="text:translate('نام')">
                                        <span data-bind="attr: { class: currentColumn() == 'namefa' ? 'isVisible' : 'isHidden' }">
                                            <i data-bind="attr: { class: iconTypenamefa }"></i>
                                        </span>
                                    </th>
                                    <th style="width:1px;"></th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: currentPagePrintForms" style="cursor: default;">
                                <tr>
                                    <td style="padding:0px">
                                        <!--<i data-bind="text: $root.radifPrint($index())" style="font-style: unset;padding-right: 10px; padding-left: 10px;"></i>-->
                                        <input type="checkbox" style="width: 16px;margin-right: 20px;"
                                               data-bind="checked: Selected == 1 ? true : false,
                                                      click: $root.SelectedPrintForms" />
                                    </td>

                                    <td style="padding:0px">
                                        <input type="checkbox" style="width: 16px;margin-right: 25px;"
                                               data-bind="checked: accessGhimat == 1 ? true : false,
                                                      click: $root.SelectedAccessGhimat , visible: $root.ShowActionPrint(isPublic)" />
                                    </td>

                                    <td data-bind="text: namefa"></td>
                                    <td>
                                        <a data-bind="click: $root.ShowPrintForms , attr: {title:text_Update}">
                                            <img src="/Content/img/list/streamline-icon-pencil-write-2-alternate@48x48.png" width="16" height="16" style="margin-left:10px" />
                                        </a>
                                        <a data-bind="click: $root.DeletePrintForms, visible: $root.ShowActionPrint(isPublic) , attr: {title:text_Delete}">
                                            <img src="/Content/img/list/streamline-icon-bin-2@48x48.png" width="16" height="16">
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr style="background-color: #efb68399">
                                    <td data-bind="text:translate('جستجو')"></td>
                                    <td></td>
                                    <td style="padding: 0px 3px;"><input data-bind="value: filterPrintForms0, valueUpdate: 'afterkeydown'" type="text" class="form-control " style="height: 2.4rem;" /> </td>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-inline">
                                <label data-bind="text:translate('نمایش')"></label>
                                <div class="form-group" style="text-align: center; width: 50px;  margin: 5px;">
                                    <select id="pageSizeSelector" class="selectorange" data-bind="value: pageSizePrintForms">
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="40">40</option>
                                        <option value="50">50</option>
                                        <option value="60">60</option>
                                        <option value="70">70</option>
                                        <option value="80">80</option>
                                        <option value="90">90</option>
                                        <option value="100">100</option>
                                    </select>
                                </div>
                                <label data-bind="text:translate('رکورد در هر صفحه')"></label>
                            </div>
                        </div>
                        <div class="col-md-6 panel_Arrow" style="text-align: left; margin-top: 10px;">
                            <a data-bind="click: firstPagePrintForms">
                                <img class="firstPage-img" data-bind="attr: {title:text_FirstPage}" src="~/Content/img/list/streamline-icon-navigation-first.png" width="14" height="14" />
                            </a>
                            <a data-bind="click: previousPagePrintForms">
                                <img class="previousPage-img" data-bind="attr: {title:text_PreviousPage}" src="~/Content/img/list/streamline-icon-navigation-back.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                            </a>
                            <b data-bind="text: PageIndexPrintForms(currentPageIndexPrintForms() + 1)" style="margin: 0px 5px 0px 5px; color: #ec8121;"></b>
                            <a data-bind="click: nextPagePrintForms">
                                <img class="nextPage-img" data-bind="attr: {title:text_NextPage}" src="~/Content/img/list/streamline-icon-navigation-next.png" width="14" height="14" style="margin: 0px 5px 0px 5px;" />
                            </a>
                            <a data-bind="click: lastPagePrintForms">
                                <img class="lastPage-img" data-bind="attr: {title:text_LastPage}" src="~/Content/img/list/streamline-icon-navigation-last.png" width="14" height="14" />
                            </a>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="modal-Print" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button data-bind="attr: {title:text_Close}" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" data-bind="text:translate('فرم های چاپ')"> </h4>

                    <div>
                        <a id="DesignPrint">
                            <img src="/Content/img/streamline-icon-cog-1@48x48.png" width="16" height="16">
                        </a>

                        <!--  <a id="addPrinttest">
                              <img src="/Content/img/list/streamline-icon-add-circle-alternate@48x48.png" width="16" height="16">
                          </a>-->


                        <a></a>
                    </div>

                </div>
                <div class="modal-body">
                    <div class="row">
                        <select id="printList" data-bind="options: currentPagePrintForms,
                                                          optionsText: function(item) {return item.namefa},
                                                          optionsValue: 'code',
                                                          value: CodePrint"></select>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <div class="modal-footer" style="padding: 0px; margin: 10px 0px 0px 0px;">
                    <button data-bind="text:translate('چاپ')" type="button" id="AcceptPrint" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;"></button>
                    <button data-bind="text:translate('انصراف')" type="button" data-dismiss="modal" class="btn btn-primary btn-block" style="background-color: #eb8121 !important;"></button>
                </div>

            </div>

        </div>
    </div>

    <div class="modal fade" id="modal-Report" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true" dir="ltr" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <div style="height:500px;overflow:auto;border: 1px #ddd solid;">
                    </div>
                </div>
                <div style="padding: 0px; margin: 10px;">
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>

        <div id="designerContent"></div>
        <div id="viewerContent"></div>
    </div>








    <div class="modal fade" id="modal-Message" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button data-bind="attr: {title:text_Close}" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="titleMessage"></h4>
                    <a></a>
                </div>
                <div class="modal-body">
                    <textarea id="bodyMessage" rows="30" class="form-control no-resize auto-growth string" style="text-align:justify"></textarea>
                </div>
            </div>

        </div>
    </div>


    <div class="modal fade" id="modal-Comm" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" id="modal-dialogComm" style="top: 150px;">
            <div class="modal-content">
                <div class="modal-header" style="padding-bottom: 0px;">
                    <div>
                        <button data-bind="attr: {title:text_Close}" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <a id="minMaxComm">
                            <img id="imgComm" src="/Content/img/new item/square-svgrepo-com.svg" style="width:16px">
                        </a>
                    </div>
                    <h4 class="modal-title" id="titleComm">توضیحات</h4>
                    <div>
                        <a class="insertComm" title="لیست عبارات تعریف شده" style="margin-left: 5px;">
                            <img src="/Content/img/sanad/list-add.png" width="20" height="20">
                        </a>
                        <a class="saveStatement" title="ذخیره متن در عبارات تعریف شده"><span class="material-icons" style="font-size:20px;float:left">save</span></a>
                    </div>

                </div>
                <div class="modal-body">
                    <span id="codeComm" style="display: none"></span>
                    <textarea id="commPublic" rows="20" class="form-control no-resize auto-growth string autocomplete" style="text-align:justify" readonly>
                </textarea>
                </div>
            </div>
        </div>
    </div>




    <div class="modal fade" id="modal-HotKeyHelp" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button data-bind="attr: {title:text_Close}" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" data-bind="text:translate('راهنمای کلید های میانبر')"></h4>
                    <a></a>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <table style="margin-top: 10px;" class="table-hover">
                            <thead>
                                <tr style="background-color:#d9d9d9">
                                    <th style="padding: 5px;">کلید میانبر</th>
                                    <th style="padding: 5px;">شرح</th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr style="border: #dddddd 1px solid;">
                                    <td style="padding: 5px;">Ctrl + Insert</td>
                                    <td style="padding: 5px;">جدید </td>
                                </tr>

                                <tr style="border: #dddddd 1px solid;">
                                    <td style="padding: 5px;">Esc</td>
                                    <td style="padding: 5px;">انصراف</td>
                                </tr>
                                <tr style="border: #dddddd 1px solid;">
                                    <td style="padding: 5px;">F2</td>
                                    <td style="padding: 5px;">ذخیره</td>
                                </tr>
                                <tr style="border: #dddddd 1px solid;">
                                    <td style="padding: 5px;">Ctrl + F3</td>
                                    <td style="padding: 5px;">جستجو</td>
                                </tr>

                                <tr style="border: #dddddd 1px solid;">
                                    <td style="padding: 5px;">Alt + P</td>
                                    <td style="padding: 5px;">چاپ</td>
                                </tr>

                                <tr style="border: #dddddd 1px solid;">
                                    <td style="padding: 5px;">Alt + R</td>
                                    <td style="padding: 5px;">بند جدید</td>
                                </tr>
                            </tbody>
                        </table>




                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="modal fade" id="modal-Location" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" style="max-width:900px">
            <div class="modal-content" style="width:900px; height:70vh">
                <div class="modal-header" style="padding-bottom: 5px;">
                    <button data-bind="attr: {title:text_Close}" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">موقعیت مکانی</h4>
                    <a></a>
                </div>
                <div class="modal-body">
                    <div id="ContentLocation"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-SaveLocation" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding-bottom: 5px;">
                    <button data-bind="attr: {title:text_Close}" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">ذخیره موقعیت مکانی</h4>
                    <a></a>
                </div>
                <div class="modal-body">
                    <table style="margin-top: 10px;" class="table-hover">
                        <tbody>
                            <tr style="border: #dddddd 1px solid; background-color: antiquewhite;">
                                <td>آدرس قبل</td>
                                <td id="Location_LastAddr">دورود </td>
                            </tr>

                            <tr style="border: #dddddd 1px solid; background-color: aliceblue;">
                                <td>آدرس جدید</td>
                                <td id="Location_NewAddr">تهران</td>
                            </tr>


                            <tr style="border: #dddddd 1px solid; background-color: aliceblue;">
                                <td>ارتفاع</td>
                                <td id="Location_Altitude">52.333</td>
                            </tr>

                            <tr style="border: #dddddd 1px solid; background-color: aliceblue;">
                                <td>عرض جغرافیایی</td>
                                <td id="Location_Latitude">35.69</td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <div style="margin-top: 10px;">
                    <div class="row  form-inline ">
                        <div class="col-md-9 row">
                            <input id="ChangeAddrLocation" type="checkbox">
                            <label for="ChangeAddrLocation" style="margin-right: 5px;margin-top: 3px;">ذخیره آدرس جدید</label>
                        </div>
                        <div class="col-md-3">
                            <button data-bind="text:translate('ذخیره')" type="button" id="SaveLocation" class="btn btn-primary  pull-left" style=" margin-left: 8px; margin-right: 8px;">ذخیره</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


    <div class="modal fade" id="modal-TestLink" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 600px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button data-bind="attr: {title:text_Close}" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 id="titleFinalDelete">خطا های سند</h4>
                    <a id=""></a>
                </div>
                <div class="modal-body">
                    <div id="BodyTestLink" style="height:400px;overflow:auto;border: 1px #ddd solid;border-radius: 20px;">
                    </div>
                    <br />
                    <div>
                        <div class="row  form-inline ">
                            <div class="col-md-6 row">
                                <div style="margin-right: 0px;margin-left: 0px;">
                                    <div id="ShowCountWarningLink" class="row" style="padding-bottom:5px;">
                                        <img src="~/Content/img/Warning.jpg" width="22" height="22" style="margin-left:5px;" /> <p><span data-bind="text:translate('هشدار') + ' : '"></span> <span id="CountWarningLink">1</span> <span data-bind="text:translate('مورد')"></span> </p>
                                    </div>

                                    <div id="ShowCountErrorLink" class="row">
                                        <img src="~/Content/img/Error.jpg" width="22" height="22" style="margin-left:5px;" /><p><span data-bind="text:translate('خطا') + ' : '"></span> <span id="CountErrorLink">0</span> <span data-bind="text:translate('مورد')"></span> </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <button data-bind="text:translate('بازگشت')" type="button" data-dismiss="modal" aria-label="Close" class="btn btn-primary pull-left" style="margin-right: 8px; width:100px; background-color: #eb8121 !important;"></button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>



    <script type="text/javascript">
        sessionStorage.versionTitle = '@(WebKarbord.Controllers.Unit.UnitPublic.titleVer)';

        sessionStorage.urlAFISanadIndex = '@Url.Action("Index", "AFISanad")';
        sessionStorage.urlAFIFactorIndex = '@Url.Action("Index", "AFIFactor")';
        sessionStorage.urlAFISanadAnbarIndex = '@Url.Action("Index", "AFISanadAnbar")';
        sessionStorage.urlErjaIndex = '@Url.Action("Index", "ERJ")';

        sessionStorage.urlTrzAcc = '@Url.Action("TrzAcc", "ReportAFI")';
        sessionStorage.urlDftr = '@Url.Action("Dftr", "ReportAFI")';
        sessionStorage.urlADocR = '@Url.Action("ADocR", "ReportAFI")';
        sessionStorage.urlADocR = '@Url.Action("GrdZAcc", "ReportAFI")';

        sessionStorage.urlFDocR_S = '@Url.Action("FDocR_S","ReportAFI")';
        sessionStorage.urlFDocR_P = '@Url.Action("FDocR_P","ReportAFI")';

        sessionStorage.urlKrdx = '@Url.Action("Krdx", "ReportAFI")';
        sessionStorage.urlIDocR = '@Url.Action("IDocR", "ReportAFI")';
    </script>


    <script src="~/Content/new/js/app.min.js"></script>

    <!--<script src="~/Content/new/js/jquery-ui.js"></script>-->
    <!--<script src="~/Content/js/jquery-3.6.0.min.js"></script>-->


    <script src="~/Content/new/js/admin.js"></script>
    <!-- <script src="~/Content/new/js/advanced-form-elements.js"></script>-->
    <script src="~/Content/js/knockout-3.5.0.js"></script>
    <script src="~/Content/js/jalaali.js"></script>
    <script src="~/Scripts/app.js?dt=@(WebKarbord.Controllers.Unit.UnitPublic.titleVerNumber)"></script>
    <script src="~/Content/new/js/stimulsoft.reports.js?dt=@(WebKarbord.Controllers.Unit.UnitPublic.titleVerNumber)"></script>
    <script src="~/Content/new/js/stimulsoft.viewer.js?dt=@(WebKarbord.Controllers.Unit.UnitPublic.titleVerNumber)"></script>
    <script src="~/Content/new/js/stimulsoft.designer.js?dt=@(WebKarbord.Controllers.Unit.UnitPublic.titleVerNumber)"></script>
    <script src="~/Content/new/js/num2persian-min.js?dt=@(WebKarbord.Controllers.Unit.UnitPublic.titleVerNumber)"></script>
    <script src="~/Scripts/PublicAFI.js?dt=@(WebKarbord.Controllers.Unit.UnitPublic.titleVerNumber)"></script>
    <script src="~/Content/js/sweet2.js"></script>
    <script src="~/Content/new/js/jquery.md.bootstrap.datetimepicker.js"></script>
    <script src="~/Content/new/js/jquery.md5.js"></script>
    <script src="~/Content/new/js/dx.all.js?dt=2"></script>
    <script src="~/Content/new/js/mapp.env.js"></script>
    <script src="~/Content/new/js/mapp.min.js"></script>
    <!--<script src="~/Content/new/js/jquery.gridster.min.js"></script>-->
    <!--<script src="https://smtpjs.com/v2/smtp.js"></script>-->
    <!-- <script src="~/Content/new/js/jquery ui/jquery.js"></script>-->
    <!--<script src="~/Content/new/js/jquery ui/jquery-ui.min.js"></script>-->
    <!-- <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>-->

    <script src="~/Content/new/js/farsiInput.js"></script>

    <!--<script src="~/Content/new/js/require.js"></script>-->
    <!-- <script src="~/Scripts/SelectProgram.js"></script>-->
    @RenderSection("scripts", false)

    <!--<script>
         $('.dropdown-menu').click(function (e) {
             e.stopPropagation();
         });
    </script>-->


</body>
</html>
